accelerate==1.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
attrs==25.3.0
bitsandbytes @ https://github.com/bitsandbytes-foundation/bitsandbytes/releases/download/continuous-release_main/bitsandbytes-1.33.7.preview-py3-none-manylinux_2_24_aarch64.whl#sha256=cccb2afa70c311d088127ad02bbf161010dff7cc3abf421d3b8b76718b021741
certifi==2025.4.26
charset-normalizer==3.4.2
cmake==3.31.6
cut-cross-entropy==25.1.1
datasets==3.6.0
dill==0.3.8
docstring_parser==0.16
filelock==3.18.0
frozenlist==1.6.0
fsspec==2025.3.0
hf_transfer==0.1.9
huggingface-hub==0.31.2
idna==3.10
Jinja2==3.1.6
liger_kernel==0.5.9
lit==18.1.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
msgspec==0.19.0
multidict==6.4.3
multiprocess==0.70.16
networkx==3.4.2
ninja==1.11.1.4
numpy==2.2.5
packaging==25.0
pandas==2.2.3
peft==0.15.2
pillow==11.2.1
propcache==0.3.1
protobuf==3.20.3
psutil==7.0.0
pyarrow==20.0.0
pybind11==2.13.6
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==14.0.0
safetensors==0.5.3
sentencepiece==0.2.0
setuptools==80.4.0
shtab==1.7.2
six==1.17.0
sympy==1.13.1
tokenizers==0.21.1
torch @ https://download.pytorch.org/whl/cu126/torch-2.6.0%2Bcu126-cp312-cp312-linux_aarch64.whl#sha256=993e0e99c472df1d2746c3233ef8e88d992904fe75b8996a2c15439c43ff46c4
tqdm==4.67.1
transformers==4.51.3
triton @ file:///home/jlee436/triton/python
trl==0.15.2
typeguard==4.4.2
typing_extensions==4.13.2
tyro==0.9.20
tzdata==2025.2
unsloth @ git+https://github.com/unslothai/unsloth.git@3f03c7250d137abe98cda89abf9f17cf78a70bb7
unsloth_zoo==2025.5.5
urllib3==2.4.0
wheel==0.45.1
xformers @ git+https://github.com/facebookresearch/xformers.git@1298453cf117c63dd691c55925fe1f41d3c874d6
xxhash==3.5.0
yarl==1.20.0
